.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 36px;
}

@media screen and (max-width: 920px) {
  .profile {
    margin-left: 27px;
    margin-right: 27px;
  }
}

@media screen and (max-width: 780px) {
  .profile {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 750px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    margin-top: 42px;
  }
}