.card__heart {
  cursor: pointer;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  width: 22px;
  height: 19px;
  border: none;
  transition: .5s;
}

.card__heart:hover {
  opacity: .5;
}