.popup__conteiner_type_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: auto auto;
  position: relative;
  background: transparent;
  align-items: normal;
}

@media screen and (max-width: 420px) {
  .popup__conteiner_type_img {
    margin-left: 10%;
    margin-right: 10%;
  }
}