.footer__copyright {
  margin-top: 0;
  margin-bottom: 0;  
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 750px) {
  .footer__copyright {
    margin-left: 27px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin-left: 19px;
  }
}