.popup__save-btn {
  background: #000;
  border-radius: 2px;
  color: #fff;
  min-width: 358px;
  min-height: 50px;
  cursor: pointer;
  padding: 0;
  border: none;
  margin-top: 18px;
  font-size: 18px;
}

.popup__save-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .popup__save-btn {
    min-width: 238px;
    font-size: 14px;
  }
}