.card {
  max-width: 282px;
  max-height: 361px;
  object-fit: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
  overflow: hidden;
  position: relative;
}
